@model Attanaya_Warrior_Institute.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Security Management Center";
}

<h2 class="special-elite-font mt-5 pt-5">@ViewBag.Title</h2>
<h4 class="special-elite-font mt-1 pt-2 mb-2">Password Recovery</h4>
<hr />

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>

    <p>
        If you have an account in our system associated with this email, you will receive a link to reset your password. <strong> You must use the email address you signed up with! </strong>
    </p>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Email Reset Link" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
